body {
    font-family: "Helvetica", sans-serif;
    height: 100%
}

h1,
h2,
h3 {
    font-weight: bold;
}

.hero {
    background-image: url('./Img/flatiron.png');
    text-align: center;
    color: white;
}

.hero h1 {
  font-size: 70px;
}

.hero h2 {
  font-size: 23px;
}

.nav {
  font-size: 18px;
  color: white;
}

.container {
  text-align: center;
}

.container h2 {
  font-size: 32px;
}

.container h3 {
  font-size: 23px;
}

.sec p {
  font-size: 14px;
}

.copy {
    background-color: dimgray;
    font-size: 11px;
    color: white;
}
